#!/usr/bin/env python3
PACKAGE = "my_class_pkg"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# 定义各类动态参数
gen.add("int_param", int_t, 0, "An Integer parameter", 50, 0, 100)
gen.add("double_param", double_t, 0, "A double parameter", 0.5, 0, 1)
gen.add("str_param", str_t, 0, "A string parameter", "Hello World")
gen.add("bool_param", bool_t, 0, "A Boolean parameter", True)

# 定义枚举类型参数
size_enum = gen.enum([
    gen.const("Small", int_t, 0, "A small constant"),
    gen.const("Medium", int_t, 1, "A medium constant"),
    gen.const("Large", int_t, 2, "A large constant"),
    gen.const("ExtraLarge", int_t, 3, "An extra large constant")
], "An enum to set size")

gen.add("size", int_t, 0, "A size parameter which is edited via an enum", 1, 0, 3, edit_method=size_enum)

# 生成头文件（第三个参数为配置名，生成的头文件为 TutorialsConfig.h）
exit(gen.generate(PACKAGE, "my_class_pkg", "Tutorials"))
